body{
	padding-top:70px;
}

.form-control {
	width: 100%;
	height: 60px;
	margin-top: 0px;	
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: -60px;
}

.btn-primary {
  background-color: #589442;
  border-width: 0px;
  white-space: pre-line;
  width: 200px;
}

.btn-primary:hover {
  background-color: #00a100;
  white-space: pre-line;
  width: 200px;
}

.beEco-title-2 {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 23px;
	color: #589442;
	font-style: italic;
}
.table-row{
	cursor: pointer;
}

.table-row:hover{
	background-color: #b9e0ab;
}

.table-row:active{
	background-color: #8cbd7b;
}

.navbar-brand:hover{
	background-color: #538740;
	border-radius: 10px;
}

.navbar-brand:active{
	background-color: #486E3A;
	border-radius: 10px;
}

.nav-link{
	color:#cfc9c8;
}

.nav-link:hover{
	color:white;
}
.nav-pills .nav-link.active {
	background-color: white;
	color:green;
	border-radius:0px;
}

.nav-pills{
	background-color: #589442
}