.image-view {
	-fx-background-color: transparent;
}

.button:pressed {
	-fx-background-color: #0A384A;
}

.menu-button {
	-fx-background-color: transparent;
	-fx-mark-color: white;
}

.menu-button:pressed {
	-fx-background-color: #0A384A;
	-fx-mark-color: white;
}

.date-picker .text-field {
    -fx-prompt-text-fill: #383838;
}