.table-view{
   -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: #589442;
    -fx-text-fill: white;
}

.table-row-cell {
	-fx-background-color: transparent;
	-fx-cell-size: 35px;
	-fx-font-size: 25px;
	-fx-cursor: hand;
}

.table-row-cell: pressed {
	-fx-background-color: #ABD4B0;
	-fx-text-fill: white;
}

.table-row-cell: empty {
	-fx-background-color: transparent;
	-fx-cursor: null;
}